<footer class="footer">
  <div class="container footer-container">    
      <p class="footer-text">Toy Factory Match 3 Game Party is a mobile puzzle game created for entertainment and mental challenge. Suitable for all
      ages. Play responsibly.</p>
      <div class="footer-wrapper">
      <ul class="footer-navigation">
        <li class="footer-link">
          <a class="footer-underline" target="_blank" href="policy/privacy.pdf">Privacy Policy</a>
              </li>
        <li class="footer-link">
          <a class="footer-underline" target="_blank" href="policy/terms.pdf">Terms & Conditions</a>
           </li>
        <li class="footer-link">
          <a class="footer-underline" target="_blank" href="policy/cookies.pdf">Cookies Policy</a>
        </li>
      </ul>
      <a class="footer-btn-link" href="#Play">
        <img src="/img/logo.png" alt="Logo" loading="lazy" width="44" height="49">
        <img src="/img/text.png" alt="Google Play" loading="lazy" width="162" height="49">
      </a>
      <p class="footer-last-text">© 2025 enchantedturboquest.com – All rights reserved.</p>
    </div>
  </div>
</footer>