<!-- hero -->
 <section class="hero-section">
    <div class="container hero-container">
        <h1 class="visually-hidden">Toy Factory</h1>
        <img class="hero-logo" src="/img/hero/logo-mob.png" alt="Toy Factory" loading="lazy" width="159" height="105">
        <p class="hero-big-text">Let the Puzzle Party Begin!</p>
        <p class="hero-text">Welcome to Toy Factory: 3D Match Puzzle, the most vibrant and joyful match 3D game you’ve ever seen.<br class="hero-desk"/> Dive into a world
        of rotating toy blocks, brilliant puzzles, and fast-paced match excitement.<br class="hero-desk"/> Whether you’re here for fun or a serious
        brain workout, this game brings the ultimate match party.</p>
        <a class="hero-link" href="#Play">
            <img class="hero-btn" src="/img/hero/btn.png" alt="Google Play" loading="lazy" width="288" height="80">
        </a>
    </div>
 </section>
 <!-- About the Game -->
<section class="about-section">
    <div class="container">
        <div class="title-container">
            <h2 class="about-title">About the Game</h2> 
         </div>
         <h3 class="about-subtitle">Match. Sort. Party.</h3>
        <picture>
            <source srcset="
            /img/about/desk.png 1x,
            /img/about/desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/about/mob.png 1x,
            /img/about/mob@2x.png 2x
             " media="(max-width: 1438px)" />
            <img class="about-img" src="/img/about/mob.png" alt="Toy Factory" loading="lazy" />
        </picture>
        <div class="about-wrapper">
        <p class="about-text">In Toy Factory: 3D Match Puzzle, players match identical 3D toys in a colorful toy factory setting. Your task? Sort
        through stacked puzzles and clear all toy sets before time runs out. With fresh toy types each level, the challenge
        never ends!</p>
        <ul class="about-list">
            <li class="about-item">
                <img src="/img/about/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                <p class="about-text-item">Perfect for fans of match 3, sort, and tile games</p>
            </li>
            <li class="about-item">
                <img src="/img/about/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                <p class="about-text-item">Quick play sessions or deep matching marathons</p>
            </li>
            <li class="about-item">
                <img src="/img/about/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                <p class="about-text-item">Designed for fun, crafted for puzzle-lovers</p>
            </li>
        </ul>
    </div>
    </div>
</section>
<!-- How to Play -->
<section class="play-section" id="Play">
    <div class="container">
        <div class="title-container">
            <h2 class="about-title">How to Play</h2>
        </div>
        <h3 class="play-subtitle">Clear the Board in 3 Simple Steps</h3>
        <p class="play-text">Tap and drag 3 identical toys to match them.<br/>
        Tip: Use rotation and zoom to find hidden matches!</p>
        <ul class="play-list">
            <li class="play-item">
                <div class="play-number">1</div>
                <p class="play-item-tetx">Use boosters to get through tough setups</p>
            </li>
            <li class="play-item">
                <div class="play-number">2</div>
                <p class="play-item-tetx">Solve puzzles before time runs out to move to the next stage</p>
            </li>
            <li class="play-item">
                <div class="play-number">3</div>
                <p class="play-item-tetx">Keep your toy slots clear or it’s game over!</p>
            </li>
            <li class="play-item">
                <div class="play-number">4</div>
                <p class="play-item-tetx">Unlock new rooms in the toy factory as you progress</p>
            </li>
        </ul>
        <picture>
            <source srcset="
            /img/play/desk.png 1x,
            /img/play/desk@2x.png 2x
                    " media="(min-width: 1439px)" />
            <source srcset="
            /img/play/mob.png 1x,
            /img/play/mob@2x.png 2x
                     " media="(max-width: 1438px)" />
            <img class="play-img" src="/img/play/mob.png" alt="Toy Factory" loading="lazy" />
        </picture>
    </div>
</section>
<!-- Key Features -->
<article class="key-section">
    <div class="container">
        <div class="title-container">
            <h2 class="about-title">Key Features</h2>
        </div>
        <h3 class="key-subtitle">Why Players Love Toy Factory</h3>
        <ul class="key-list">
            <li class="key-item">
                <div class="key-item-wrapper">
                <img class="key-img" src="/img/key/one.png" alt="Key Features" width="42" height="42" loading="lazy">
                <h4 class="key-item-title">Helpful Boosters</h4>
            </div>
            <p class="key-item-text">From hint bots to toy smashers</p>
            </li>
            <li class="key-item">
                <div class="key-item-wrapper">
                    <img class="key-img" src="/img/key/two.png" alt="Key Features" width="42" height="42" loading="lazy">
                    <h4 class="key-item-title">3D Puzzle Experience</h4>
                </div>
                <p class="key-item-text">Rotate and match in full 3D</p>
            </li>
            <li class="key-item">
                <div class="key-item-wrapper">
                    <img class="key-img" src="/img/key/three.png" alt="Key Features" width="42" height="42" loading="lazy">
                    <h4 class="key-item-title">Hundreds of Levels</h4>
                </div>
                <p class="key-item-text">Always fresh, never boring</p>
            </li>
            <li class="key-item">
                <div class="key-item-wrapper">
                    <img class="key-img" src="/img/key/four.png" alt="Key Features" width="42" height="42" loading="lazy">
                    <h4 class="key-item-title">Offline & Online Modes</h4>
                </div>
                <p class="key-item-text">Play anywhere, anytime</p>
            </li>
            <li class="key-item">
                <div class="key-item-wrapper">
                    <img class="key-img" src="/img/key/five.png" alt="Key Features" width="42" height="42" loading="lazy">
                    <h4 class="key-item-title">Daily <br class="key-desk" /> Surprises</h4>
                </div>
                <p class="key-item-text">Login bonuses, reward spins, and more</p>
            </li>
            <li class="key-item">
                <div class="key-item-wrapper">
                    <img class="key-img" src="/img/key/six.png" alt="Key Features" width="42" height="42" loading="lazy">
                    <h4 class="key-item-title">Family <br class="key-desk"/> Friendly</h4>
                </div>
                <p class="key-item-text">Great for all ages and skill levels</p>
            </li>
        </ul>
    </div>
</article>
<!-- Welcome to the 3D Toy World -->
<section class="welcome-section">
    <div class="container">
        <div class="title-container">
            <h2 class="about-title">Welcome to the 3D Toy World</h2>
        </div>
        <h3 class="welcome-subtitle">Explore the Colorful Factory</h3>
        <div class="welcome-wrapper">
            <source srcset="
            /img/welcome/desk.png 1x,
            /img/welcome/desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/welcome/mob.png 1x,
            /img/welcome/mob@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="welcome-img" src="/img/welcome/mob.png" alt="Toy Factory" loading="lazy" />
            </picture>
            <div class="welcome-second-wrapper">
                <p class="welcome-text">Every room in Toy Factory offers a new visual experience. Travel through zones filled with building blocks, stuffed
                animals, racing cars, dolls, robots, puzzle cubes, and more. Explore, unlock, and keep matching to unlock them all.</p>
                <ul class="welcome-list">
                    <li class="welocome-item">
                       <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                       <p class="welcome-item-text">Candy Room</p> 
                    </li>
                    <li class="welocome-item">
                        <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                        <p class="welcome-item-text">Train Track Hub</p>
                    </li>
                    <li class="welocome-item">
                        <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                        <p class="welcome-item-text">Glow Toy Basement</p>
                    </li>
                    <li class="welocome-item">
                        <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                        <p class="welcome-item-text">Kite Storage Loft</p>
                    </li>
                    <li class="welocome-item">
                        <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                        <p class="welcome-item-text">Surprise Machine Workshop</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Levels & Progression -->
<section class="levels-section">
    <div class="container">
        <div class="title-container">
            <h2 class="about-title">Levels & Progression</h2>
        </div>
        <h3 class="levels-subtitle">From Rookie Sorter to Matchmaster</h3>
        <p class="levels-text">With each level, the puzzles get smarter, faster, and more fun. Start easy and rise through the ranks with every
        victory:</p>
        <div class="levels-picture-wrapper">
         <img src="/img/levels/cat.png" alt="Cat" loading="lazy" width="175" height="160"> 
        <img src="/img/levels/mouse.png" alt="Mouse" loading="lazy" width="161" height="160">
        </div>
        <ul class="levels-list">
            <li class="levels-item">
                <p>Bomb-Limited Boards</p>
            </li>
            <li class="levels-item">
                <p>Timed Challenges</p>
            </li>
            <li class="levels-item">
                <p>Locked Toys</p>
            </li>
            <li class="levels-item">
                <p>Mystery Toy Boxes</p>
            </li>
            <li class="levels-item">
                <p>Obstacle Clean-Up Modes</p>
            </li>
        </ul>
    </div>
</section>
<!-- Boosters & Power Tools -->
<section class="boosters-section">
    <div class="container">
        <div class="title-container">
            <h2 class="about-title">Boosters & Power Tools</h2>
        </div>
        <h3 class="boosters-subtitle">Unlock Special Abilities to Clear the Board</h3>
        <div class="boosters-wrapper">
        <picture>
            <source srcset="
            /img/boosters/desk.png 1x,
            /img/boosters/desk@2x.png 2x
              " media="(min-width: 1439px)" />
            <source srcset="
            /img/boosters/mob.png 1x,
            /img/boosters/mob@2x.png 2x
           " media="(max-width: 1438px)" />
            <img class="boosters-img" src="/img/boosters/mob.png" alt="Toy Factory" loading="lazy" />
        </picture>
        <div class="boosters-wrapper-two">
            <p class="boosters-text">Boosters are earned, rewarded, or unlocked through play — no paywalls!</p>
            <ul class="boosters-list">
                <li class="boosters-item">
                    <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                    <p class="boosters-item-text"><span class="boosters-span">Hint Bot – </span>Reveals hidden triplets</p>
                </li>
                <li class="boosters-item">
                    <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                    <p class="boosters-item-text"><span class="boosters-span">Toy Blaster – </span>Destroys random toys</p>
                </li>
                <li class="boosters-item">
                    <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                    <p class="boosters-item-text"><span class="boosters-span">Slot Shuffle – </span>Rearranges toy piles</p>
                </li>
                <li class="boosters-item">
                    <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                    <p class="boosters-item-text"><span class="boosters-span">Clear All Tool – </span>Resets the board when stuck</p>
                </li>
                <li class="boosters-item">
                    <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                    <p class="boosters-item-text"><span class="boosters-span">Double Match Streak – </span>Doubles rewards for 3-in-a-row plays</p>
                </li>
            </ul>
        </div>
    </div>
    </div>
</section>
<!-- Multiple Play Modes -->
<section class="modes-section">
    <div class="container">
        <div class="title-container">
            <h2 class="about-title">Multiple Play Modes</h2>
        </div>
        <h3 class="modes-subtitle">Play the Way You Want</h3>
        <p class="modes-text">Each mode adds a new layer to your toy-matching mastery.</p>
        <ul class="modes-list">
            <li class="modes-item">
                <img class="modes-img" src="/img/modes/one.png" alt="Multiple Play Modes" loading="lazy" width="42" height="42">
                <h4 class="modes-item-title">Classic <br class="modes-mob" /> Mode </h4>
                <p class="modes-item-text">Relaxed levels, no pressure</p>
            </li>
            <li class="modes-item">
                <img class="modes-img" src="/img/modes/two.png" alt="Multiple Play Modes" loading="lazy" width="42" height="42">
                <h4 class="modes-item-title">Time Rush <br class="modes-mob" /> Mode</h4>
                <p class="modes-item-text">Race against the clock</p>
            </li>
            <li class="modes-item">
                <img class="modes-img" src="/img/modes/three.png" alt="Multiple Play Modes" loading="lazy" width="42" height="42">
                <h4 class="modes-item-title">Perfect Clear <br class="modes-mob" /> Mode</h4>
                <p class="modes-item-text">Clear with no leftovers</p>
            </li>
            <li class="modes-item">
                <img class="modes-img" src="/img/modes/four.png" alt="Multiple Play Modes" loading="lazy" width="42" height="42">
                <h4 class="modes-item-title">Challenge Tournaments</h4>
                <p class="modes-item-text">Beat the leaderboard score!</p>
            </li>
        </ul>
    </div>
</section>
<!-- Visuals & Sound Design -->
<section class="design-section">
    <div class="container">
        <div class="title-container">
            <h2 class="about-title">Visuals & Sound Design</h2>
        </div>
        <h3 class="design-subtitle">A Game That Pops with Personality</h3>
        <div class="design-wrapper">
        <picture>
            <source srcset="
            /img/design/desk-one.png 1x,
            /img/design/desk-one@2x.png 2x
             " media="(min-width: 1439px)" />
            <source srcset="
            /img/design/mob-one.png 1x,
            /img/design/mob-one@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="design-one-img" src="/img/design/mob-one.png" alt="Toy Factory" loading="lazy" />
        </picture>
        <div class="design-tetx-wrapper">
            <p class="design-text">From soft plushies to shiny plastic bricks — everything looks touchable and fun.</p>
            <ul class="design-list">
                <li class="design-item design-item-one">
                    <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                    <p class="design-item-text">Smooth, 3D-rendered toy models</p>
                </li>
                <li class="design-item design-item-two">
                    <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                    <p class="design-item-text">Cheerful and upbeat background music</p>
                </li>
                <li class="design-item design-item-three">
                    <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                    <p class="design-item-text">Crisp effects for each match and explosion</p>
                </li>
                <li class="design-item design-item-four">
                    <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                    <p class="design-item-text">Lighting shifts in different toy rooms for variety</p>
                </li>
            </ul>
        </div>
        <picture>
            <source srcset="
                    /img/design/desk-two.png 1x,
                    /img/design/desk-two@2x.png 2x
                     " media="(min-width: 1439px)" />
            <source srcset="
                    /img/design/mob-two.png 1x,
                    /img/design/mob-two@2x.png 2x
                    " media="(max-width: 1438px)" />
            <img class="design-two-img" src="/img/design/mob-two.png" alt="Toy Factory" loading="lazy" />
        </picture>
    </div>
    </div>
</section>
<!-- For Puzzle Fans -->
<section class="fans-section">
    <div class="container">
        <div class="title-container">
            <h2 class="about-title">For Puzzle Fans</h2>
        </div>
        <h3 class="fans-subtitle">Inclusive, Fun, and Satisfying</h3>
        <p class="fans-text">Safe, ad-light, and fun-focused. This game is designed for:</p>
        <div class="fans-img-wrapper">
            <picture>
                <source srcset="
                /img/fans/one-desk.png 1x,
                /img/fans/one-desk@2x.png 2x
                " media="(min-width: 1439px)" />
                <source srcset="
                /img/fans/one-mob.png 1x,
                /img/fans/one-mob@2x.png 2x
                 " media="(max-width: 1438px)" />
                <img class="fans-img" src="/img/fans/one-mob.png" alt="Toy Factory" loading="lazy" />
                </picture> 
                <picture>
                    <source srcset="
                                    /img/fans/two-desk.png 1x,
                                    /img/fans/two-desk@2x.png 2x
                                    " media="(min-width: 1439px)" />
                    <source srcset="
                                    /img/fans/two-mob.png 1x,
                                    /img/fans/two-mob@2x.png 2x
                                     " media="(max-width: 1438px)" />
                    <img class="fans-img" src="/img/fans/two-mob.png" alt="Toy Factory" loading="lazy" />
                    </picture> 
        </div>
        <ul class="fans-list">
            <li class="fans-item">
                <p>Kids who love toy-themed games</p>
            </li>
            <li class="fans-item">
                <p>Adults looking for casual stress relief</p>
            </li>
            <li class="fans-item">
                <p>Families playing together</p>
            </li>
            <li class="fans-item">
                <p>Puzzle lovers who enjoy sorting logic</p>
            </li>
            <li class="fans-item">
                <p>Gamers on-the-go or winding down at night</p>
            </li>
        </ul>
    </div>
</section>
<!-- Global Leaderboards -->
<section class="global-section">
    <div class="container">
        <div class="title-container">
            <h2 class="about-title">Global Leaderboards</h2>
        </div>
        <h3 class="global-subtitle">Can You Become the Top Matchmaster?</h3>
        <div class="global-first-wrapper">
        <picture>
            <source srcset="
            /img/global/desk.png 1x,
            /img/global/desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/global/mob.png 1x,
            /img/global/mob@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="globals-img" src="/img/global/mob.png" alt="Toy Factory" loading="lazy" />
        </picture>
        <div class="global-wrapper">
        <p class="globals-text">Show your puzzle skills to the world! Climb the Toy Factory Global Leaderboard by:</p>
        <ul class="global-list">
            <li class="global-item">
                <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                <p class="global-text-item">Earning 3-stars in stages</p>
            </li>
            <li class="global-item">
                <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                <p class="global-text-item">Finishing with time left</p>
            </li>
            <li class="global-item">
                <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                <p class="global-text-item">Beating challenge levels</p>
            </li>
            <li class="global-item">
                <img src="/img/dott.png" alt="Dott" loading="lazy" width="16" height="16">
                <p class="global-text-item">Unlocking streak rewards</p>
            </li>
        </ul>
    </div>
        </div>
    </div>
</section>
<!-- Contact -->
<section class="contact-section">
    <div class="container contact-container">
        <div class="title-container">
            <h2 class="about-title">Contact</h2>
        </div>
        <h3 class="contact-subtitle">Got a question, idea, or suggestion?<br/>
        We’d love to hear from you.</h3>
        <div class="contact-wrapper">
<ul class="contact-list">
    <li class="contact-item">
        <img src="/img/contact/email.png" alt="Email" loading="lazy" width="24" height="24">
        <a class="contact-link" href="mailto:info@enchantedturboquest.com">info@enchantedturboquest.com</a>
    </li>
    <li class="contact-item">
        <img src="/img/contact/time.png" alt="Time" loading="lazy" width="24" height="24">
       <p class="contact-text-item">Mon–Fri, 9am–6pm UTC</p>
    </li>
    <li class="contact-item">
        <img src="/img/contact/location.png" alt="Location" loading="lazy" width="24" height="24">
        <p class="contact-text-item">PuzzleSoft Studios, Toy Drive 88, San Diego, CA</p>
    </li>
</ul>
<div class="icon-wrapper">
    <p class="icon-text">Follow us on
    social media:</p>
    <div class="icon-list">
        <a class="footer-icon" href="https://www.facebook.com/">
           <img src="/img/contact/facebook.png" alt="Facebook" width="24" height="24">
        </a>
        <a class="footer-icon" href="https://www.instagram.com/">
          <img src="/img/contact/instagram.png" alt="Instagram" width="24" height="24">
          </a>
        <a class="footer-icon" href="https://www.tiktok.com/">
         <img src="/img/contact/tiktok.png" alt="Tiktok" width="24" height="24">
         </a>
            <a class="contact-icon" href="https://x.com/">
                <img src="/img/contact/twitter.png" alt="Twitter" width="23" height="23">
         </a>
    </div>
</div>
<div class="contact-picture-wrapper">
<picture>
    <source srcset="
    /img/contact/cat-desk.png 1x,
    /img/contact/cat-desk@2x.png 2x
    " media="(min-width: 1439px)" />
    <source srcset="
    /img/contact/cat.png 1x,
    /img/contact/cat@2x.png 2x
    " media="(max-width: 1438px)" />
    <img class="cat-img" src="/img/contact/cat.png" alt="Cat" loading="lazy" />
</picture>
<picture>
    <source srcset="
    /img/contact/mouse-desk.png 1x,
    /img/contact/mouse-desk@2x.png 2x
    " media="(min-width: 1439px)" />
    <source srcset="
    /img/contact/mouse.png 1x,
    /img/contact/mouse@2x.png 2x
    " media="(max-width: 1438px)" />
    <img class="mouse-img" src="/img/contact/mouse.png" alt="Mouse" loading="lazy" />
</picture></div>
        </div>
    </div>
</section>