body{
  background: #ffffff;
  font-family: "Biryani", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #222;
}
h2{
  font-family: "Biryani", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    color: #ffd811;
}
h3{
  font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #2c2f7f;
}
@media only screen and (min-width: 1439px) {
  body{
    font-size: 20px;
  }
  h3{
    font-size: 48px;
  }
}
