/* Hero */
.hero-section{
    background-color: #2c2f7f;
    background-image: url("/img/hero/mob.png");
    background-position: top 220px center;
    background-size: 342px 337px;
    background-repeat: no-repeat;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.hero-logo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    margin-top: 20px;
}
.hero-big-text{
    font-family: "Luckiest Guy", sans-serif;
        font-weight: 400;
        font-size: 25px;
        text-align: center;
        color: #f6f6f6;
        margin-bottom: 360px;
}
.hero-text{
    color: #f6f6f6;
    margin-bottom: 16px;
}
.hero-link{
    cursor: pointer;
    width: 288px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;  
    margin-left: auto;
    margin-right: auto; 
    border: 1px solid #2d2d2d;
    border-radius: 40px;
    background-color: #ffd811;
    box-shadow: 0 4px 4px 0 rgba(45, 45, 45, 0.5);
    transition: background-color 0.3s ease;
}
.hero-link:hover,
.hero-link:active{
background-color: ffe24f;
}
.hero-desk{
    display: none;
}
@media only screen and (min-width: 1439px) {
  .hero-section{
    background-image: url("/img/hero/desk.png");
    background-position: top 70px center;
    background-size: 1280px 686px;
    height: 873px;
  }
  .hero-logo{
    display: none;
  }
  .hero-big-text{
    font-size: 40px;
    -webkit-text-stroke: 3px #2c2f7f;
    margin-left: 20px;
    text-align: left;
    margin-top: 380px;
    margin-bottom: 263px;
  }
  .hero-container{
    position: relative;
  }
  .hero-link{
    position: absolute;
    left: 230px;
    bottom: 320px;
  }
  .hero-text{
    font-size: 16px;
    width: 1062px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .hero-desk{
    display: block;
  }
}
/* About the Game */
.about-section{
    position: relative;
}
.title-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 16px 16px 16px;
    height: 78px;
    background: #2c2f7f;
}
.about-title{
    text-align: left;
}
.about-subtitle{
    margin-top: 60px;
    margin-bottom: 40px;
}
.about-text{
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 600;
        font-size: 18px;
        line-height: 1.3;
}
.about-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.about-item{
display: flex;
gap: 16px;
align-items: center;
}
.about-text-item{
    width: 311px;
    text-align: left;
}
@media only screen and (min-width: 1439px) {
.title-container   {
    padding: 80px 80px 16px 80px;
    height: 118px;
}
.about-subtitle{
    margin-top: 80px;
    margin-bottom: 48px;
}
.about-img{
    margin-left: 109px;
}
.about-wrapper{
    margin-left: 560px;
    margin-top: -350px;
}
.about-text {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 600;
    font-weight: 600;
        font-size: 24px;
         line-height:1.5;
         width: 614px;
         text-align: left;
}
.about-text-item{
    width: 580px;
}
}
/* How to Play */
.play-section{
    position: relative;
}
.play-subtitle {
    margin-top: 60px;
    margin-bottom: 40px;
}
.play-text{
    font-family: "Biryani", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.3;
        text-align: center;
        color: #222;
        margin-bottom: 24px;
}
.play-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}
.play-item{
    display: flex;
    align-items: center;
    gap: 16px;
    }
.play-number{
    border-radius: 100px;
        padding: 8px;
        width: 48px;
        height: 48px;
        background: #2c2f7f;
        font-family: "Luckiest Guy", sans-serif;
            font-weight: 400;
            font-size: 32px;
            line-height: 1;
            text-align: center;
            color: #ffd811;
}
.play-item-tetx{
    font-family: "Biryani", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.4;
        color: #222;
        text-align: left;
        width: 279px;
}
@media only screen and (min-width: 1439px) {
 .play-subtitle{
    margin-top: 80px;
    margin-bottom: 76px;
 }
 .play-text{
    margin-bottom: 48px;
    width: 614px;
    text-align: left;
    margin-left: 150px;
 }
 .play-list{
    width: 655px;
    margin-left: 150px;
 }
 .play-item-tetx{
    width: 551px;
    font-size: 18px;
    margin-bottom: 0;
 }
 .play-img{
    margin-left: 850px;
    margin-top: -410px;
 }
}
/* Key Features */
.key-section{
    position: relative;
}
.key-subtitle{
    margin-top: 60px;
        margin-bottom: 40px;
}
.key-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.key-item{
    display: flex;
    flex-direction: column;
    border: 2px solid #2c2f7f;
        border-radius: 16px;
        padding: 16px;
        width: 343px;
        height: 102px;
}
.key-item-wrapper{
    display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 8px;
}
.key-item-title{
    font-family: "Biryani", sans-serif;
        font-weight: 900;
        font-size: 18px;
        line-height: 1.4;
        text-align: center;
        color: #2c2f7f;
        width: 253px;
}
.key-desk{
    display: none;
}
@media only screen and (min-width: 1439px) {
 .key-subtitle{
    margin-top: 80px;
    margin-bottom: 48px;
 }
 .key-list{
flex-direction: row;
gap: 24px;
 }
 .key-item{
    border: 2px solid #2c2f7f;
        border-radius: 16px;
        padding: 16px;
        width: 190px;
        height: 218px;
 }
 .key-item-wrapper{
    flex-direction: column;
    margin-bottom: 16px;
 }
 .key-item-title{
    width: 158px;
 }
 .key-desk{
    display: block;
 }
 .key-img{
    width: 64px;
    height: 64px;
 }
 .key-item-text{
    font-size: 14px;
    width: 158px;
 }
}
/* Welcome to the 3D Toy World */
.welcome-section{
    position: relative;
}
.welcome-subtitle{
    margin-top: 60px;
        margin-bottom: 40px;
}
.welcome-img{
    margin-bottom: 24px;
}
.welcome-text{
    font-weight: 700;
        font-size: 16px;
        margin-bottom: 24px;
}
.welcome-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.welocome-item{
    display: flex;
    gap: 16px;
    align-items: center;
}
.welcome-item-text{
    font-size: 20px;
}
@media only screen and (min-width: 1439px) {
 .welcome-subtitle{
    margin-top: 80px;
    margin-bottom: 48px;
 }
 .welcome-wrapper{
    display: flex;
      gap: 48px;
    align-items: center;
 }
 .welcome-img{
    margin-bottom: 0;
    width: 480px;
        height: 360px;
 }
 .welcome-second-wrapper{
    width: 534px;
        height: 332px;
 }
 .welcome-text{
    margin-bottom: 40px;
    width: 534px;
    text-align: left;
 }
}
/* Levels & Progression */
.levels-section{
    position: relative;
}
.levels-subtitle{
    margin-top: 60px;
        margin-bottom: 36px;
}
.levels-text{
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 40px;
}
.levels-picture-wrapper{
    display: flex;
    justify-content: space-between;
    width: 364px;
        height: 160px;
        margin-left: -10px;
        margin-right: auto;
        margin-bottom: 16px;
}
.levels-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.levels-item{
    border-radius: 12px;
        padding: 16px;
        width: 343px;
        height: 60px;
        background: #2c2f7f;
        font-weight: 700;
            font-size: 20px;
            color: #f6f6f6;
}
@media only screen and (min-width: 1439px) {
.levels-subtitle {
margin-top: 80px;
margin-bottom: 48px;
} 
.levels-text{
    font-size: 24px;
    line-height: 1.4;
    width: 723px;
    margin-left: auto;
    margin-right: auto;
}
.levels-picture-wrapper{
    width: 1250px;
        margin-left: 6px;
}
.levels-list{
    flex-direction: row;
    gap: 28px;
    justify-content: center;
    margin-top: -176px;
}
.levels-item{
        width: 150px;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
  
}
}
/* Boosters & Power Tools */
.boosters-section{
    position: relative;
}
.boosters-subtitle{
    margin-top: 60px;
        margin-bottom: 40px;
}
.boosters-text{
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.boosters-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.boosters-item{
    display: flex;
    gap: 16px;
    align-items: center;
}
.boosters-item-text{
    font-size: 16px;
    width: 311px;
    text-align: left;
}
.boosters-span{
    font-weight: 700;
}
@media only screen and (min-width: 1439px) {
 .boosters-subtitle{
    margin-top: 80px;
        margin-bottom: 48px;  
 }
 .boosters-wrapper{
    display: flex;
    gap: 48px;
    align-items: center;
 }
 .boosters-text{
    text-align: left;
    width: 645px;
    margin-top: 0;
    margin-bottom: 40px;
 }
 .boosters-item-text{
    font-size: 20px;
    width: 630px;
 }
}
/* Multiple Play Modes */
.modes-section{
    position: relative;
}
.modes-subtitle{
    margin-top: 60px;
        margin-bottom: 40px;
        width: 293px;
        margin-left: auto;
        margin-right: auto;
}
.modes-text{
    font-size: 22px;
    margin-bottom: 40px;
}
.modes-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.modes-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid #2c2f7f;
        border-radius: 16px;
        padding: 16px;
        width: 163px;
        height: 194px;
        align-items: center;
}
.modes-item-title{
    font-weight: 900;
        font-size: 18px;
        color: #2c2f7f;
}
.modes-item-text{
    width: 131px;
}
@media only screen and (min-width: 1439px) {
  .modes-subtitle{
    margin-top: 80px;
        margin-bottom: 48px;
        width: 600px;

  }
  .modes-text{
    font-size: 24px;
  }
  .modes-list{
    flex-wrap: nowrap;
    justify-content: center;
  }
  .modes-item{
    width: 240px;
        height: 198px;
        gap: 16px;
  }
  .modes-mob{
    display: none;
  }
  .modes-img{
    width: 64px;
        height: 64px;
  }
  .modes-item-text{
    width: 208px;
    font-size: 14px;
  }
}
/* Visuals & Sound Design */
.design-section{
    position: relative;
}
.design-subtitle{
    margin-top: 60px;
        margin-bottom: 40px;
}
.design-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.design-text{
    font-size: 24px;
    margin-bottom: 24px;
}
.design-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.design-item{
    display: flex;
    gap: 16px;
    align-items: center;
}
.design-item-text{
    font-size: 16px;
    width: 311px;
    text-align: left;
}
@media only screen and (min-width: 1439px) {
.design-subtitle {
 margin-top: 80px;
margin-bottom: 48px;
}
.design-wrapper{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 42px;
}
.design-tetx-wrapper{
    width: 560px;
}
.design-text{
    font-size: 24px;
    margin-bottom: 40px;
}
.design-list{
    align-items: center;
}
.design-item-text{
    font-size: 20px;
}
.design-item{
 margin-left: auto;
 margin-right: auto;
}
.design-item-text{
    width: 456px;
}
.design-item-one{
    width: 370px;
}
.design-item-two{
    width: 420px;
}
.design-item-three{
    width: 450px;
}
.design-item-four{
    width: 490px;
}
}
/* For Puzzle Fans */
.fans-section{
    position: relative;
}
.fans-subtitle{
    margin-top: 60px;
        margin-bottom: 40px;
}
.fans-text{
    font-size: 20px;
    margin-bottom: 40px;
}
.fans-img-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.fans-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.fans-item{
    border-radius: 12px;
        padding: 16px;
        width: 343px;
        height: 52px;
        background: #2c2f7f;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f6f6f6;
}
@media only screen and (min-width: 1439px) {
.fans-subtitle {
margin-top: 80px;
margin-bottom: 48px;
}
.fans-text{
    font-size: 24px;
    margin-bottom: 40px;
}
.fans-list{
    flex-direction: row;
    gap: 28px;
    justify-content: center;
    margin-top: -176px;
}
.fans-item{
    width: 140px;
        height: 160px;
        font-weight: 700;
            font-size: 16px;
}
}
/* Global Leaderboards */
.global-section{
    position: relative;
}
.global-subtitle{
    margin-top: 60px;
        margin-bottom: 40px;
}
.globals-img{
    margin-bottom: 24px;
}
.globals-text{
    font-size: 20px;
    margin-bottom: 24px;
}
.global-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.global-item{
    display: flex;
    gap: 16px;
    align-items: center;
}
.global-text-item{
    font-size: 20px;
}
@media only screen and (min-width: 1439px) {
.global-subtitle {
margin-top: 80px;
margin-bottom: 48px;
}
.global-first-wrapper{
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
}
.globals-img {
    margin-bottom: 0;
}
.global-wrapper{
    display: flex;
    flex-direction: column;
}
.globals-text{
    font-size: 24px;
    text-align: left;
    width: 529px;
    margin-bottom: 40px;
}
}
/* Contact */
.contact-section{
    position: relative;
}
.contact-subtitle{
    margin-top: 60px;
        margin-bottom: 40px;
        font-size: 32px;
}
.contact-wrapper{
    border: 4px solid #2c2f7f;
        border-radius: 16px;
        padding: 24px 24px 0px 24px;
        width: 343px;
        height: 380px;
        position: relative;
}
.contact-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}
.contact-item{
    display: flex;
    gap: 16px;
    align-items: center;
}
.contact-text-item,
.contact-link{
    text-align: left;
}
.icon-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-text{
    font-weight:700;
    width: 100px;
}
.contact-icon{
    cursor: pointer;
}
.icon-list{
    display: flex;
    gap: 16px;
}
.contact-picture-wrapper{
    display: flex;
    gap: 26px;
position: absolute;
bottom: 0;
}
@media only screen and (min-width: 1439px) {
.contact-container{
    padding-bottom: 0;
}
    .contact-subtitle {
        margin-top: 80px;
        margin-bottom: 126px;
        font-size: 48px;
}
.contact-wrapper{
    width: 1062px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        padding: 6px 24px;
        bottom: 0;
}
.contact-picture-wrapper {
  gap: 600px;
}
.contact-list{
    gap: 24px;
    width: 547px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.icon-wrapper{
    justify-content: center;
    gap: 21px;
}
.icon-text{
    font-weight: 400;
        font-size: 16px;
        width: 207px;
}
.footer-icon{
    font-size: 16px;
}
}